.user-messages-container {
  display: grid;
  border: 1px solid #f3f4f6;
  border-radius: 0.5rem;
  padding: 1rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
}

.user-messages-avatar-wrapper {
  width: 1rem;
  height: 1rem;
}

.user-name {
  margin-left: 1rem;
}

.back-link {
  margin-left: auto;
}
