.message-item {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
}

.message-item:hover {
  background-color: #f3f4f6;
}

.message-item:hover .user-email {
  visibility: visible;
}

.user-avatar-wrapper {
  border: 1px solid black;
  border-radius: 50%;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

@media (max-width: 600px) {
  .user-avatar-wrapper {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
  }
}

.user-avatar-wrapper img {
  width: 100%;
  height: 100%;
}

.message-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1rem;
}

.message-text {
  color: #6b7280;
  font-size: .875rem;
}

.message-info-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.user-info {
  display: flex;
}

.user-fullname {
  font-weight: bold;
  font-size: 0.8rem;
  align-self: flex-end;
}

.user-email {
  align-self: flex-end;
  visibility: hidden;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.message-date {
  align-self: flex-end;
  font-size: 0.8rem;
  color: gray;
  opacity: 0.6;
}
