html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  margin: 0;
}

a {
  color: #111827;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.messages-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f4f6;
  border-radius: 0.5rem;
  padding: 1rem;
}

.loading-container {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .content > * {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .content > * {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .content > * {
    width: 992px;
  }
}

.message-item {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
}

.message-item:hover {
  background-color: #f3f4f6;
}

.message-item:hover .user-email {
  visibility: visible;
}

.user-avatar-wrapper {
  border: 1px solid black;
  border-radius: 50%;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  margin-right: 1rem;
}

.user-avatar-wrapper img {
  width: 100%;
  height: 100%;
}

.message-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.message-text {
  color: #6b7280;
  font-size: 0.875rem;
}

.message-info-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.user-info {
  display: flex;
  white-space: nowrap;
}

.user-fullname {
  font-weight: bold;
  font-size: 0.8rem;
  align-self: flex-end;
}

.user-email {
  align-self: flex-end;
  visibility: hidden;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.message-date {
  align-self: flex-end;
  font-size: 0.8rem;
  color: gray;
  opacity: 0.6;
  margin-left: auto;
}

.user-name {
  margin-left: 1rem;
}

.back-link {
  margin-left: auto;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
}
